.attractionSection {
  min-height: 882px;
  /* footer置底 */
  margin-top: 94px;
}

.attractionSectionItem {
  display: none;
}
.attraction {
  pointer-events: none;
}
.attractionSection__booking {
  position: relative;
  width: 62.5%;
  min-height: 400px;
  left: 18.75%;
}

.attractionSection__booking__imgSlider {
  position: relative;
  width: 45%; /* width: 540px; */
  height: 400px;
  left: 1.25%; /* left: 15px; */
  top: 0px;

  border-radius: var(--borderRad);
  overflow: hidden;
}

.attraction-img-dotGroup {
  /* Button / circle */

  position: relative;
  width: 72px;
  height: 12px;
  top: 378px;

  opacity: 0.75;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
}

.attraction-img-leftArrow,
.attraction-img-rightArrow {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 182px;
  opacity: 0.75;
  z-index: var(
    --zIndex-sliderArrow
  ); /* 讓圖片重新render的時候，不會短暫蓋過arrow */
  cursor: pointer;
}

.attraction-img-leftArrow {
  left: 1.85%;
  background: url(../img/btn_leftArrow.png);
}

.attraction-img-rightArrow {
  right: 1.85%;
  background: url(../img/btn_rightArrow.png);
}

.attractionSection__booking__profile {
  position: absolute;
  width: 50%; /* width: 600px; */
  min-height: 400px;
  left: 48.75%; /* left: 585px; */
  top: 0px;
}
.attractionSection__booking__profile__title {
  position: absolute;
  width: 100%;
  height: 33px;
  left: 0px;
  top: 0px;

  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.attractionSection__booking__profile__CATAndMRT {
  position: absolute;
  width: 100%;
  height: 22px;
  left: 0px;
  top: 48px;
}

.attractionSection__booking__profile__bookingField {
  position: absolute;
  width: 100%;
  height: 302px;
  left: 0px;
  top: 90px;
  background: #e8e8e8;
  border-radius: var(--borderRad);
}

.profile__bookingField__item {
  width: 93.33%;
  min-height: 24px;
  margin: 15px auto 0px auto;
}

.profile__bookingField__formItem {
  min-height: 35px;
  display: flex;
  align-items: center;
}
.profile__bookingField__formItem__inputField {
  margin-left: 5px;
}
.profile__bookingField__formItem label {
  min-width: 81px;
  text-align: center;
}

.profile__bookingField__formItem input {
  width: 193px;
  height: 35px;
}
.attractionSection__border {
  position: absolute;
  width: 62.5%;
  height: 0px;
  left: 18.75%;
  top: 534px;
  border: 1px solid #e8e8e8;
}
.attractionSection__infos {
  width: 62.5%;
  min-height: 362px;
  margin: 80px auto 40px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.attractionSection__infos__textBlock {
  width: 98.33%;
  display: flex;
}

.attractionSection__infos__title {
  min-height: 32px;
  margin: 10px auto 0px auto;
  line-height: 13px;
  align-items: center;
}
.attractionSection__infos__description {
  min-height: 96px;
  margin: 10px auto 0px auto;
  line-height: 26px;
}
.attractionSection__infos__address {
  min-height: 24px;
  margin: 0 auto;
  line-height: 26px;
}
.attractionSection__infos__transport {
  min-height: 48px;
  margin: 0 auto;
  line-height: 26px;
}

/* 4. RWD: 螢幕寬度(由大到小) 1200 700 */
@media (max-width: 1200px) {
  .attractionSection__booking {
    width: 90%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .attractionSection__border {
    width: 90%;
    left: 5%;
  }
  .attractionSection__infos {
    width: 82.5%;
  }
}
@media (max-width: 700px) {
  .attractionSection__booking {
    width: 100%;
    top: 0;
    left: 0;
    flex-wrap: wrap;
  }
  .attractionSection__booking__imgSlider {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    flex-shrink: 0;
  }

  .attractionSection__booking__profile {
    width: 94.44%;
    position: relative;
    top: 0;
    left: 0;
    margin: 20px auto 40px auto;
    min-height: 390px;
  }
  .attractionSection__border {
    position: relative;
    top: 0;
    left: 0;
    width: 94.44%;
    margin: 0 auto;
  }
  .attractionSection__infos {
    width: 91.67%;
    margin: 50px 2.78% 40px 5.56%;
  }
}

/* slider */
.attraction-img-slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 100%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/*image fill*/
.mySlides > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* The dots/bullets/indicators */
.dotGroup {
  position: absolute;
  text-align: center;
  bottom: 13px;
  left: 0;
  width: 100%;
  opacity: 0.75;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active,
.dot:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* input radio */
.profile__bookingField__formItem__radio {
  display: inline;
  list-style-type: none;
}
/* Hide the browser's default radio button */
.container {
  position: relative;
  padding-left: 26px;
  margin-right: 5px;
  cursor: pointer;
  font-size: var(--check-font-size);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -3px; /* 置中= -((--checkMark)-fontsize)/2 = -(22-16)/2 */
  left: 0;
  height: var(--checkMark);
  width: var(--checkMark);
  background: #ffffff;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-Cyan800);
}
