<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/dialog.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/attraction.css"
    />
    <script type="module" src="../static/js/attraction.js"></script>
  </head>
  <body>
    <script src="../static/js/components/navbar.js"></script>

    <div class="attractionSection">
      <div id="loading" class="loading">loading...</div>
      <script src="../static/js/components/dialog.js"></script>
      <div id="attractionSectionItem" class="attractionSectionItem">
        <div class="attractionSection__booking">
          <div class="attractionSection__booking__imgSlider">
            <div class="attraction-img-slider" id="img-slider">
              <div class="attraction-img-leftArrow" id="leftArrow"></div>
              <div class="attraction-img-rightArrow" id="rightArrow"></div>
            </div>
            <div class="dotGroup" id="dotGroup"></div>
          </div>
          <div class="attractionSection__booking__profile">
            <div
              class="
                common-text common-text-bold
                attractionSection__booking__profile__title
              "
            >
              <p id="profile-title"></p>
            </div>
            <div
              class="common-text attractionSection__booking__profile__CATAndMRT"
            >
              <p>
                <span id="profile-CAT"></span> at
                <span id="profile-MRT"></span>
              </p>
            </div>
            <div class="attractionSection__booking__profile__bookingField">
              <div
                class="common-text common-text-bold profile__bookingField__item"
              >
                <p>訂購導覽行程</p>
              </div>
              <div class="common-text profile__bookingField__item">
                <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
              </div>
              <form id="form_attraction">
                <div
                  class="
                    profile__bookingField__item profile__bookingField__formItem
                  "
                >
                  <label for="date">
                    <span class="common-text common-text-bold">選擇日期：</span>
                  </label>
                  <input
                    id="date"
                    class="profile__bookingField__formItem__inputField"
                    type="date"
                    required
                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                    required
                  />
                </div>
                <div
                  class="
                    profile__bookingField__item profile__bookingField__formItem
                  "
                >
                  <label for="time">
                    <span class="common-text common-text-bold">選擇時間：</span>
                  </label>
                  <div
                    class="
                      common-text
                      profile__bookingField__item
                      profile__bookingField__formItem__inputField
                      profile__bookingField__formItem__radio
                    "
                  >
                    <label for="morning" class="container">
                      上半天
                      <input
                        type="radio"
                        id="morning"
                        name="time"
                        value="morning"
                        class="morning"
                        checked="checked"
                        required
                      />
                      <span class="checkmark"></span>
                    </label>

                    <label for="afternoon" class="container">
                      <span>下半天</span>
                      <input
                        type="radio"
                        id="afternoon"
                        name="time"
                        value="afternoon"
                        class="afternoon"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>

                <div
                  class="
                    profile__bookingField__item profile__bookingField__formItem
                  "
                >
                  <label for="price">
                    <span class="common-text common-text-bold">導覽費用：</span>
                  </label>
                  <span
                    class="
                      common-text
                      profile__bookingField__formItem__inputField
                    "
                  >
                    新台幣 <span id="booking-priceContent">2000</span> 元
                  </span>
                </div>
                <div class="profile__bookingField__item">
                  <input
                    type="submit"
                    class="common-text common__btn profile__bookingField__btn"
                    id="booking-button"
                    value="開始預訂行程"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="attractionSection__border"></div>
        <div class="attractionSection__infos">
          <div
            class="
              common-text
              attractionSection__infos__description
              attractionSection__infos__textBlock
            "
          >
            <p id="infos-description"></p>
          </div>
          <div
            class="
              common-text common-text-bold
              attractionSection__infos__title
              attractionSection__infos__textBlock
            "
          >
            <p>景點地址：</p>
          </div>
          <div
            class="
              common-text
              attractionSection__infos__address
              attractionSection__infos__textBlock
            "
          >
            <p id="infos-addressContent"></p>
          </div>
          <div
            class="
              common-text common-text-bold
              attractionSection__infos__title
              attractionSection__infos__textBlock
            "
          >
            <p>交通方式：</p>
          </div>
          <div
            class="
              common-text
              attractionSection__infos__transport
              attractionSection__infos__textBlock
            "
          >
            <p id="infos-transportContent"></p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="common-text footer-text">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
  </body>
</html>
