<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css" />

    <script type="module" src="../static/js/booking.js"></script>
  </head>
  <body>
    <script src="../static/js/components/navbar.js"></script>
    <div class="bookingDiv">
      <div id="loading" class="loading">loading...</div>
      <script src="../static/js/components/dialog.js"></script>
      <div id="bookingSectionItem" class="bookingSectionItem">
        <div class="booking-headline">
          <span>您好，</span><span id="userName"></span
          ><span>，待預訂的行程如下：</span>
        </div>
        <div class="common-text bookingContent-noOrder" id="noOrder">
          目前沒有任何待預訂的行程
        </div>
        <div class="bookingContent" id="bookingContent">
          <div class="booking-info">
            <div class="booking-info-section">
              <div class="booking-attractionImg">
                <img alt="attraction-img" id="attractionImg" />
              </div>
              <div class="booking-texts">
                <p class="textTitle common-text">
                  <span>台北一日遊：</span><span id="title"></span>
                </p>
                <p class="textDate common-text">
                  <span class="info">日期：</span>
                  <span id="date"></span>
                </p>
                <p class="textTime common-text">
                  <span class="info">時間：</span><span id="time"></span>
                </p>
                <p class="textPrice common-text">
                  <span class="info">費用：</span>
                  <span id="price"></span>
                </p>
                <p class="textAddress common-text">
                  <span class="info">地點：</span>
                  <span id="address"></span>
                </p>
              </div>

              <div class="booking-deleteImg">
                <img alt="delete-icon" id="delete-icon" />
              </div>
            </div>
          </div>
          <div class="booking-border"></div>
          <div class="booking-userContact">
            <p class="common-text booking-title">您的聯絡資訊</p>
            <form>
              <div class="form-group">
                <label class="common-text">聯絡姓名：</label>
                <input
                  type="text"
                  placeholder="聯絡姓名"
                  class="contactContent"
                />
              </div>
              <div class="form-group">
                <label class="common-text">連絡信箱：</label>
                <input
                  type="email"
                  placeholder="電子信箱"
                  id="contact-email"
                  class="contactContent"
                  disabled
                />
              </div>
              <div class="form-group">
                <label class="common-text">手機號碼：</label>
                <input
                  type="tel"
                  placeholder="09XXXXXXXX"
                  class="contactContent patternCheck"
                  size="10"
                  minlength="10"
                  maxlength="10"
                  pattern="09[0-9]{8}"
                  required
                />
              </div>

              <p class="common-text notice">
                請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
              </p>
            </form>
          </div>
          <div class="booking-border"></div>
          <div class="booking-userPayment">
            <p class="common-text booking-title">信用卡付款資訊</p>
            <div class="form-group">
              <label for="card-number" class="common-text"
                ><span id="cardtype"></span>卡片號碼：</label
              >
              <div class="tpfield paymentContent" id="card-number"></div>
            </div>
            <div class="form-group">
              <label for="card-number" class="common-text"
                ><span id="cardtype"></span>過期時間：</label
              >
              <div
                class="tpfield paymentContent"
                id="card-expiration-date"
              ></div>
            </div>
            <div class="form-group">
              <label for="card-number" class="common-text"
                ><span id="cardtype"></span>驗證密碼：</label
              >
              <div class="tpfield paymentContent" id="card-ccv"></div>
            </div>

            <!-- <form>
            <span class="common-text">卡片號碼：</span>
            <input
              type="cc-number"
              placeholder="**** **** **** ****"
              class="paymentContent"
            />
            <br />
            <span class="common-text">過期時間：</span>
            <input type="cc-exp" placeholder="MM / YY" class="paymentContent" />
            <br />
            <span class="common-text">驗證密碼：</span>
            <input type="cc-csc" placeholder="CVV" class="paymentContent" />
          </form> -->
          </div>
          <div class="booking-border"></div>
          <div class="booking-confirm">
            <div class="common-text booking-confirmText">
              總價：<span>新台幣2000元</span>
            </div>
            <div class="booking-confirmButton">
              <button type="button" id="confirmButton">
                <p class="dialogContent">確認訂購並付款</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="common-text footer-text">COPYRIGHT © 2021 台北一日遊</div>
    </footer>

    <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
    <script></script>
  </body>
</html>
