<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css" />

    <script type="module" src="../static/js/booking.js"></script>
  </head>
  <body>
    <script src="../static/js/components/navbar.js"></script>
    <div class="bookingSection">
      <div id="loading" class="loading">loading...</div>
      <script src="../static/js/components/dialog.js"></script>
      <div id="bookingSectionItem" class="bookingSectionItem">
        <div class="bookingSection__headline">
          <span>您好，</span><span id="userName"></span
          ><span>，待預訂的行程如下：</span>
        </div>
        <div class="common-text bookingSection__noOrder" id="noOrder">
          目前沒有任何待預訂的行程
        </div>
        <div class="bookingSection__content" id="bookingContent">
          <div class="bookingInfo">
            <div class="bookingInfo__attractionImg">
              <img alt="attraction-img" id="attractionImg" />
            </div>
            <div class="bookingInfo__texts">
              <p class="common-text common-text-bold bookingInfo__texts-title">
                <span>台北一日遊：</span><span id="title"></span>
              </p>
              <p class="common-text bookingInfo__texts__date">
                <span class="common-text-bold">日期：</span>
                <span id="date"></span>
              </p>
              <p class="common-text bookingInfo__texts__time">
                <span class="common-text-bold bookingInfo__texts-info"
                  >時間：</span
                ><span id="time"></span>
              </p>
              <p class="common-text bookingInfo__texts__price">
                <span class="common-text-bold bookingInfo__texts-info"
                  >費用：</span
                >
                <span id="price"></span>
              </p>
              <p class="common-text bookingInfo__texts__address">
                <span class="common-text-bold bookingInfo__texts-info"
                  >地點：</span
                >
                <span id="address"></span>
              </p>
            </div>

            <div class="bookingInfo__texts__deleteImg">
              <img alt="delete-icon" id="delete-icon" />
            </div>
          </div>
          <div class="bookingBorder"></div>
          <div class="bookingUserContact">
            <p class="common-text common-text-bold booking-title">
              您的聯絡資訊
            </p>
            <form>
              <div class="bookingFormGroup">
                <label class="common-text">聯絡姓名：</label>
                <input
                  type="text"
                  placeholder="聯絡姓名"
                  class="contactContent"
                />
              </div>
              <div class="bookingFormGroup">
                <label class="common-text">連絡信箱：</label>
                <input
                  type="email"
                  placeholder="電子信箱"
                  id="contact-email"
                  class="contactContent"
                  disabled
                />
              </div>
              <div class="bookingFormGroup">
                <label class="common-text">手機號碼：</label>
                <input
                  type="tel"
                  placeholder="09XXXXXXXX"
                  class="contactContent patternCheck"
                  size="10"
                  minlength="10"
                  maxlength="10"
                  pattern="09[0-9]{8}"
                  required
                />
              </div>

              <p class="common-text common-text-bold bookingFormGroup__notice">
                請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
              </p>
            </form>
          </div>
          <div class="bookingBorder"></div>
          <div class="bookingUserPayment">
            <p class="common-text common-text-bold booking-title">
              信用卡付款資訊
            </p>
            <div class="bookingFormGroup">
              <label for="card-number" class="common-text"
                ><span id="cardtype"></span>卡片號碼：</label
              >
              <div class="tpfield paymentContent" id="card-number"></div>
            </div>
            <div class="bookingFormGroup">
              <label for="card-number" class="common-text"
                ><span id="cardtype"></span>過期時間：</label
              >
              <div
                class="tpfield paymentContent"
                id="card-expiration-date"
              ></div>
            </div>
            <div class="bookingFormGroup">
              <label for="card-number" class="common-text"
                ><span id="cardtype"></span>驗證密碼：</label
              >
              <div class="tpfield paymentContent" id="card-ccv"></div>
            </div>
          </div>
          <div class="bookingBorder"></div>
          <div class="bookingConfirm">
            <div class="common-text common-text-bold bookingConfirm-text">
              總價：<span>新台幣2000元</span>
            </div>

            <button type="button" id="confirmButton" class="common__btn">
              確認訂購並付款
            </button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="common-text footer-text">COPYRIGHT © 2021 台北一日遊</div>
    </footer>

    <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
  </body>
</html>
