<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <script src="../static/js/index.js"></script>
    <script type="text/javascript">
      window.onload = function () {
        attractionGroup = document.getElementById("attractionGroup");
        searchInput = document.getElementById("searchInput");
        GetAttractionsData(GetUrl(api_attractions, currentPage), undefined);
        window.addEventListener("scroll", IsScrollBottom, true);
      };
    </script>
  </head>

  <body>
    <nav>
      <div class="navDiv">
        <div class="navDiv-text">台北一日遊</div>
        <div class="navDiv-frame2">
          <div class="navDiv-frame1">
            <div class="navBtn-right">
              <div class="navBtn-right-text">登入/註冊</div>
            </div>
            <div class="navBtn-left">
              <div class="navBtn-left-text">預定行程</div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="heroSection">
      <div class="heroDiv">
        <div class="welcome1"></div>
      </div>
    </div>
    <div class="sloganBlock">
      <div class="sloganDiv">
        <div class="slogan">
          <div class="sloganTitle">輕鬆享受台北一日悠閒</div>
          <div class="sloganSubTitle">探索每個角落，體驗城市的深度旅遊行程</div>
        </div>
        <div class="search">
          <div class="searchBlock">
            <input
              type="text"
              id="searchInput"
              class="searchInput"
              placeholder="輸入景點名稱查詢"
            />

            <button class="searchBtn" onclick="DoKeywordSearch()">
              <div class="searchBtn-icon">
                <div class="icon-search"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="attractions">
      <div id="attractionGroup" class="attractionGroup">
        <!-- <p class="noResult">沒有結果</p> -->
        <!-- <div class="attraction">
          <div class="att-img"></div>
          <div class="attInfo">
            <div class="att-name"><p>平安鐘</p></div>
            <div class="att-MRT"><p>忠孝復興</p></div>
            <div class="att-category"><p>公共藝術</p></div>
          </div>
          <div class="att-border"></div>
        </div>
        <div class="attraction">
          <div class="att-img"></div>
          <div class="attInfo">
            <div class="att-name"><p>平安鐘</p></div>
            <div class="att-MRT"><p>忠孝復興</p></div>
            <div class="att-category"><p>公共藝術</p></div>
          </div>
          <div class="att-border"></div>
        </div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction">
          <div class="att-img"></div>
          <div class="attInfo">
            <div class="att-name"><p>平安鐘</p></div>
            <div class="att-MRT"><p>忠孝復興</p></div>
            <div class="att-category"><p>公共藝術</p></div>
          </div>
          <div class="att-border"></div>
        </div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div>
        <div class="attraction"></div> -->
      </div>
    </div>
    <footer>
      <div class="footerDiv">
        <div class="footer-text">COPYRIGHT © 2021 台北一日遊</div>
      </div>
    </footer>
  </body>
</html>
