<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <script src="../static/js/index.js"></script>
  </head>

  <body>
    <nav>
      <div class="navDiv">
        <div class="navDiv-text">台北一日遊</div>
        <div class="navDiv-frame2">
          <div class="navDiv-frame1">
            <div class="navBtn-right">
              <div class="navBtn-right-text" id="loginRegister">登入/註冊</div>
            </div>
            <div class="navBtn-left">
              <div class="navBtn-left-text">預定行程</div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="indexDiv">
      <!-- dialog -->
      <div class="dialog" id="dialog">
        <div class="dialogMask"></div>

        <div class="dialogBox">
          <div class="dialogBox-decoratorBar"></div>
          <div class="dialogBox-icon" id="closeIcon">
            <img />
          </div>
          <div class="dialogBox-main">
            <p class="dialogBox-mainText dialogContent">登入會員帳號</p>
            <input
              type="text"
              placeholder="輸入姓名"
              id="dialog-name"
              class="dialogContent"
            />
            <input
              type="text"
              placeholder="輸入電子信箱"
              class="dialogContent"
            />
            <input type="text" placeholder="輸入密碼" class="dialogContent" />

            <button><p class="dialogContent">登入帳戶</p></button>
            <div class="dialogLoginRegister">
              <a href="#" class="dialogContent" id="doLoginRegister"
                >還沒有帳戶？點此註冊</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- heroSection -->
      <div class="heroSection">
        <div class="heroDiv">
          <div class="welcome1"></div>
        </div>
      </div>
      <div class="sloganBlock">
        <div class="sloganDiv">
          <div class="slogan">
            <div class="sloganTitle">輕鬆享受台北一日悠閒</div>
            <div class="sloganSubTitle">
              探索每個角落，體驗城市的深度旅遊行程
            </div>
          </div>
          <div class="search">
            <div class="searchBlock">
              <input
                type="text"
                id="searchInput"
                class="searchInput"
                placeholder="輸入景點名稱查詢"
              />

              <button id="searchBtn" class="searchBtn">
                <div class="searchBtn-icon">
                  <div class="icon-search"></div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- attractions -->
      <div class="attractions">
        <div id="attractionGroup" class="attractionGroup"></div>
      </div>
    </div>
    <footer>
      <div class="footerDiv">
        <div class="footer-text">COPYRIGHT © 2021 台北一日遊</div>
      </div>
    </footer>
  </body>
</html>
