<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/thankyou.css" />
    <script type="module" src="../static/js/thankyou.js"></script>
  </head>

  <body>
    <script src="../static/js/components/navbar.js"></script>

    <div class="orderDiv">
      <script src="../static/js/components/dialog.js"></script>
      <div class="order-headline">
        <div class="common-text orderContent" id="orderStatus"></div>

        <div class="common-text orderContent">
          訂單編號：<span id="orderInfo"></span>
        </div>
      </div>
    </div>

    <footer>
      <div class="footerDiv">
        <div class="footer-text">COPYRIGHT © 2021 台北一日遊</div>
      </div>
    </footer>
  </body>
</html>
